# Ignore everything
**

# Include source code
!apps/**
!packages/**
!tools/**

# Include root config files
!.npmrc
!*.ts
!*.js
!*.json
!*.yaml

# ================== BELOW IS COPIED FROM .GITIGNORE =================
# Dependency directories
**/node_modules/
**/jspm_packages/
.npm
.pnpm-store

# Generated
**/__generated__
**/out-tsc
**/build
**/dist
**/out
**/tmp

# Framework specific directories
**/.webpack
**/.vite
**/.next
**/.nuxt
**/.vercel
**/.expo
**/.open-next
**/.wxt
**/.docusaurus
**/.vuepress/dist
**/.eslintcache
**/.sst
vite.config.*.timestamp*
vitest.config.*.timestamp*

# Mobile specific directories
apps/mobile/android
apps/mobile/ios

# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage 
coverage
*.lcov
.nyc_output

# TypeScript cache
*.tsbuildinfo

# dotenv environment variables file
.env
.env.test

# Miscellaneous
.DS_Store
.cache

# Nx
.nx/cache
.nx/workspace-data
